@page
@inject IStringLocalizer<IndexModel> localizer
@inject IHtmlLocalizer<IndexModel> htmlLocalizer;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using HospitalBedTracker.Data.DataTypes;
@model IndexModel
@{
    ViewData["Title"] = localizer["HomePage"];
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

@section Styles {
    <link href="~/css/index.css" rel="stylesheet" type="text/css" />
}

<div class="text-center">
    <h1 class="display-4">@localizer["Welcome"]</h1>
    <p>@htmlLocalizer["Learn"]</p>
</div>

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var item in (List<Hospital>)ViewData["Hospitals"])
    {
        <div class="card hospitalCard" style="max-width: 26rem;">
            <img src="@item.HospitalImageUrl" class="card-img-top">
            <div class="card-body cardBodyMargined">
                <h5 class="card-title">Hospital Name</h5>
                <p class="card-text">Hadath St. Therese - Mafrak Kassab - Mafrak Saidaliyyet Zein.</p>
                <div class="bedsBlock">
                    <ul class="list-group list-group-horizontal bedsList">
                        <li class="list-group-item">
                            <h4 class="number">99999</h4>
                            <text class="bedType">ICU</text>
                        </li>
                    </ul>
                </div>
                <a href="#" class="btn btn-primary">Open in Google Maps</a>
            </div>
        </div>
    }
</div>