.hospitalCard {
    display: inline-block;
    margin: 12px;
}

.bedsBlock {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
}

img.cardImage {
    height: 250px;
    width: auto;
}

div.cardBodyMargined {
    padding: 0.7rem;
}

ul.bedsList {
    width: 100%;
    overflow: auto;
}

li.bedsList {
    width: 100%;
    padding: 0.2em;
}

li.list-group-item-none {
    background-color: firebrick;
}

.rtl-supported {
    text-align: start;
    unicode-bidi: plaintext;
}